body {
 /*background-color: #000;*/
 color: #000;
background-image: url(../img/background2.jpg);
background-repeat: no-repeat;
background-size: 100% 100%;
}

* {
 box-sizing: border-box;
}

.container {
  /*background-color: #000;
  opacity: .5;*/
  position: relative;
  margin: auto;
  width: 1200px;
  height: 120%;
  border: 2px solid #fff;
  /*border-left: 2px solid #fff;
  border-right: 2px solid #fff;*/
}

.box {

}

#hr-moniter {
  display: inline;
  width: 50%;
  position: absolute;
  margin-top: -30px;
  filter: drop-shadow(-2px -2px 30px #fff);


  /*border: 1px solid black;*/
}

.title {
  color: #000;
  display: inline;
  text-align: center;
  width: 40%;
  position: absolute;
  top: 90px;
  left: 60%;
  text-shadow:
  -2px -2px 30px #fff,
  2px -2px 30px #fff,
  -2px 2px 30px #fff,
  2px 2px 30px #fff;

  /*border: 1px solid black;*/
}

#big-title {
  font-size: 50px;
}

#small-title {
}

.summary {
  text-align: justify;
  color: #000;
  font-size: 20px;
  display: inline;
  width: 27%;
  padding: 10px;
  position: absolute;
  top: 400px;
  left: 13%;
  text-shadow:
  -2px -2px 20px #fff,
  2px -2px 20px #fff,
  -2px 2px 20px #fff,
  2px 2px 20px #fff;

  /*border: 1px solid black;*/
  box-shadow: inset 0 0 100px #000;
}

/*.price {
  width: 20%;
  display: inline;
  position: absolute;
  top: 400px;
  left: 60%;

border: 1px solid black;
}*/

.features {
  text-align: center;
  position: absolute;
  top: 700px;
  border: 1px solid black;
}

.features-title {
  color: white;
}

/*Features Table*/
table {
  color: black;
  border-collapse: collapse;
  border: 2px solid #000;
}

thead {
  color: white;

}

.row-odd {
  background-color: grey;
}

.row-even {
  background-color: #fff;
}

th {
  border: 2px solid #fff;
  height: 50px;
  font-size: 25px;
}

td {
  text-align: center;
  width: 150px;
  /*border-right: 2px solid #fff;*/
  border-bottom: 2px solid #000;
}





.img-gallery {
  position: absolute;left: 50%;
  background-color: #000;
}

.row {
  width: 500px;
  float: left;
  clear: both;

}

.img {
  display: inline;
  width:  40%;
  height: 130px;
  margin: 15px;
  /*box-shadow: 10px 5px 5px black;*/
}
