body {
 /*background-color: #000;*/
 color: #000;
background-image: url(../img/background2.jpg);
background-repeat: no-repeat;
background-size: 100% 100%;
}

* {
 box-sizing: border-box;
}

.container {
  /*background-color: #000;
  opacity: .5;*/
  position: relative;
  margin: auto;
  width: 1200px;
  height: 120%;
  border: 2px solid #fff;
  /*border-left: 2px solid #fff;
  border-right: 2px solid #fff;*/
}

.box {

}

#hr-moniter {
  display: inline;
  width: 50%;
  position: absolute;
  margin-top: -30px;
  filter: drop-shadow(-2px -2px 30px #fff);


  /*border: 1px solid black;*/
}

.title {
  color: #fff;
  display: inline;
  text-align: center;
  width: 40%;
  position: absolute;
  top: 90px;
  left: 60%;
  text-shadow:
  -2px -2px 30px #000,
  2px -2px 30px #000,
  -2px 2px 30px #000,
  2px 2px 30px #000;

  /*border: 1px solid black;*/
}

#big-title {
  font-size: 50px;
}

#small-title {
}

.summary {
  text-align: justify;
  font-weight: bold;
  color: #000;
  font-size: 20px;
  display: inline;
  width: 27%;
  padding: 15px;
  position: absolute;
  top: 450px;
  left: 11%;
  text-shadow:
  -2px -2px 20px #fff,
  2px -2px 20px #fff,
  -2px 2px 20px #fff,
  2px 2px 20px #fff;

  border: 2px solid #fff;
  box-shadow: 0 0 25px #fff;
}

.features {
  text-align: center;
  position: absolute;
  top: 450px;
  left: 45%;
}

.features-title {
  color: white;
}

/*Features Table*/
table {
  border-collapse: collapse;
  border: 2px solid #fff;
  box-shadow: 0 0 25px #fff;
}

thead {
  color: white;
}

.price {
  color: white;
  font-size: 20px;
}

.rt-border {
  border-right: 2px solid #fff;
  font-weight: bold;
}

/*.row-odd {
  background-color: grey;
}

.row-even {
  background-color: #fff;
}*/

th {
  border: 2px solid #fff;
  height: 50px;
  font-size: 25px;
  text-shadow:
  -2px -2px 20px #000,
  2px -2px 20px #000,
  -2px 2px 20px #000,
  2px 2px 20px #000;
}

td {
  text-align: center;
  width: 150px;
  border-bottom: 2px solid #fff;
  text-shadow:
  -2px -2px 20px #fff,
  2px -2px 20px #fff,
  -2px 2px 20px #fff,
  2px 2px 20px #fff;
}

.check {
  text-shadow:
  -2px -2px 20px #000,
  2px -2px 20px #000,
  -2px 2px 20px #000,
  2px 2px 20px #000;
}




.img-gallery {
  position: absolute;
  top: 750px;
  left: 10%;
  /*background-color: #000;*/
}

.row {
  width: 500px;
  float: left;
  clear: both;

}

.img {
  display: inline;
  width:  30%;
  height: 100px;
  margin: 15px;
  box-shadow: 0 0 25px #000;
}
